In [15]:
import numpy as np
import pandas as pd

In [16]:
stock_data = pd.read_csv(r'D:\ML_Projects\Stock-Market-Prediction\NIFTY 50_minute_data.csv')
stock_data.head()

                  date     open     high      low    close  volume
0  2015-01-09 09:15:00  8285.45  8295.90  8285.45  8292.10       0
1  2015-01-09 09:16:00  8292.60  8293.60  8287.20  8288.15       0
2  2015-01-09 09:17:00  8287.40  8293.90  8287.40  8293.90       0
3  2015-01-09 09:18:00  8294.25  8300.65  8293.90  8300.65       0
4  2015-01-09 09:19:00  8300.60  8301.30  8298.75  8301.20       0

In [17]:
stock_data['open'].describe()

count    932946.000000
mean      13623.775737
std        5047.819576
min        6846.800000
25%        9428.450000
50%       11561.450000
75%       17607.137500
max       26273.400000
Name: open, dtype: float64

In [18]:
stock_data['open'] = stock_data['open'].apply(lambda x: round(x-6847))

In [19]:
stock_data['open'].nunique()

18808

In [20]:
stock_data['open'].unique()

array([ 1438,  1446,  1440, ..., 16005, 15999, 16023], dtype=int64)

In [21]:
stock_data['date'] = pd.to_datetime(stock_data['date'])
stock_data['date_only'] = stock_data['date'].dt.date
stock_data['date_only']

0         2015-01-09
1         2015-01-09
2         2015-01-09
3         2015-01-09
4         2015-01-09
             ...
932941    2025-02-07
932942    2025-02-07
932943    2025-02-07
932944    2025-02-07
932945    2025-02-07
Name: date_only, Length: 932946, dtype: object

In [22]:
stock_data.groupby('date_only')['open'].count().unique()

array([375, 364, 355, 376, 370, 377, 371, 367, 374, 373,  72, 357,  60,
       336, 372, 361,  54, 368, 105, 369], dtype=int64)

In [23]:
data = stock_data.groupby('date_only')['open'].apply(list).reset_index()
data = data.drop(['date_only'], axis=1)

In [24]:
data.to_csv(r'D:\ML_Projects\Stock-Market-Prediction\stock_open_data.csv', index=False)

In [25]:
data = pd.read_csv(r'D:\ML_Projects\Stock-Market-Prediction\stock_open_data.csv')
data = data['open'].apply(lambda x:list(int(i) for i in x.strip('[]').split(', ')))
data = data.to_list()

In [26]:
vocab = set(j for i in data for j in i)
print(len(vocab))
print(min(vocab))
print(max(vocab))

18808
0
19426