In [2]:
import numpy as np
import pandas as pd

In [3]:
stock_data = pd.read_csv(r'D:\ML_Projects\Stock-Market-Prediction\NIFTY 50_minute_data.csv')
stock_data.head()

                  date     open     high      low    close  volume
0  2015-01-09 09:15:00  8285.45  8295.90  8285.45  8292.10       0
1  2015-01-09 09:16:00  8292.60  8293.60  8287.20  8288.15       0
2  2015-01-09 09:17:00  8287.40  8293.90  8287.40  8293.90       0
3  2015-01-09 09:18:00  8294.25  8300.65  8293.90  8300.65       0
4  2015-01-09 09:19:00  8300.60  8301.30  8298.75  8301.20       0

In [4]:
stock_data['open'].describe()

count    932946.000000
mean      13623.775737
std        5047.819576
min        6846.800000
25%        9428.450000
50%       11561.450000
75%       17607.137500
max       26273.400000
Name: open, dtype: float64

In [5]:
stock_data['open'] = stock_data['open'].apply(lambda x: round(x))

In [6]:
stock_data['open'].nunique()

18807

In [7]:
stock_data['open'].unique()

array([ 8285,  8293,  8287, ..., 22846, 22870, 22803], dtype=int64)

In [8]:
stock_data['date'] = pd.to_datetime(stock_data['date'])
stock_data['date_only'] = stock_data['date'].dt.date
stock_data['date_only']

0         2015-01-09
1         2015-01-09
2         2015-01-09
3         2015-01-09
4         2015-01-09
             ...
932941    2025-02-07
932942    2025-02-07
932943    2025-02-07
932944    2025-02-07
932945    2025-02-07
Name: date_only, Length: 932946, dtype: object

In [9]:
stock_data.groupby('date_only')['open'].count().unique()

array([375, 364, 355, 376, 370, 377, 371, 367, 374, 373,  72, 357,  60,
       336, 372, 361,  54, 368, 105, 369], dtype=int64)

In [25]:
data = stock_data.groupby('date_only')['open'].apply(list).reset_index()
data = data.drop(['date_only'], axis=1)

In [26]:
data

                                                   open
0     [8285, 8293, 8287, 8294, 8301, 8300, 8301, 830...
1     [8291, 8254, 8255, 8258, 8263, 8267, 8266, 826...
2     [8346, 8355, 8349, 8344, 8342, 8340, 8340, 834...
3     [8307, 8301, 8307, 8309, 8305, 8305, 8302, 829...
4     [8425, 8440, 8394, 8386, 8401, 8428, 8408, 839...
...                                                 ...
2494  [23319, 23272, 23255, 23252, 23260, 23262, 232...
2495  [23510, 23494, 23497, 23506, 23507, 23502, 235...
2496  [23802, 23768, 23768, 23766, 23773, 23766, 237...
2497  [23762, 23721, 23728, 23727, 23732, 23724, 237...
2498  [23650, 23608, 23604, 23589, 23594, 23584, 235...

[2499 rows x 1 columns]